<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guerreiro NEWS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>

    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Guerreiro NEWS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/guerreironews">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/guerreironews/todas">Todas as Notícias</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    
    <section class="bg-light py-5">
        <div class="container">
            <h1 class="display-4">Destaques de Hoje</h1>
            <p class="lead">As notícias mais recentes e importantes do momento.</p>
        </div>
    </section>

   

    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <a href="/guerreironews/todas/<%=news[0].id%>">
              <img src="https://www.zanotti.com.br/blog/wp-content/uploads/2014/06/Vogue-Espana-Cristiano-Ronaldo-Irina-Shayk-08.jpg" class="d-block w-100" alt="Imagem 1">
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h1 style="background-color: lightgray; border-radius: 10px; padding: 10px;">
                <%= news[0].titulo %>
              </h1>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <a href="/guerreironews/todas/<%=news[1].id%>">
              <img src="https://cirandapoetrix.com.br/storage/00dpuz6TUWxscJIgSdbsleBDbsEpRWJ3Xm9HPTKf.jpeg" class="d-block w-100" alt="Imagem 2">
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h1 style="background-color: lightgray; border-radius: 10px; padding: 10px;">
                <%= news[1].titulo %>
              </h1>
            </div>
          </div>
          <div class="carousel-item">
            <a href="/guerreironews/todas/<%=news[2].id%>">
              <img src="https://s3.sa-east-1.amazonaws.com/assets.fidelizii.com.br/blog/2022/05/04182635/cliente-insatisfeito-como-lidar-2.jpg" class="d-block w-100" alt="Imagem 3">
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h1 style="background-color: lightgray; border-radius: 10px; padding: 10px;">
                <%= news[2].titulo %>
              </h1>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
    
    <footer class="bg-dark text-light py-4">
        <div class="container text-center">
            <p>2024 Guerreiro NEWS. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
